<div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Mail</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>John@xyz.com</td>
                        <td>12345</td>
                        <td>mitra</td>
                        <td>
                          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="modal" data-target="#modal-editUser" title="Edit"><i class="fa fa-edit"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>   
                        </tr>
                        <tr>
                            <td>183</td>
                            <td>John Doe</td>
                            <td>John@xyz.com</td>
                            <td>12345</td>
                            <td>Pathaologist</td>
                            <td>
                              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="modal" data-target="#modal-editUser" title="Edit"><i class="fa fa-edit"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                            </td>   
                            </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </tfoot>
              </table>
            </div>